body {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: left;
    height: 100vh;
    margin: 0;
    background-color: #eec0c8;
    font-family: Arial, sans-serif;
  }
  h1 {
    font-size: 35px;
    text-align: left;
 
  }
  p {
    font-family: 'Times New Roman', serif;
    text-align: left;
    font-size: 17px;
    line-height: 2 ;
 
  }
  .left-half {
   
    grid-column: 1;
  }
  .right-half {
    
    grid-column: 2;
  }
  img {
    grid-column: 2;
    width: 300px;
    height: 300px;
    border: 3px solid;
    
  }
  
  
  .postcard {
    width: 900px;
    height: 500px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    display: grid;
    position: relative;
    border: 10px solid transparent;
    border-image: repeating-linear-gradient(-45deg, #a4133c, #a4133c 10px, white 10px, white 20px) 10;
  }
  
  .signature {
    text-align: right;
    font-style: italic;
    color: #888;
    grid-column: 2;
  }
  